@model KarolCamp.Dominio.Trilha

@{
    ViewBag.Title = "Trilha - Detalhe";
}

<div class="page-header">
    <h1>Trilha <small>organize as trilhas de suas palestras</small></h1>
    <a href="@Url.Action("Cadastrar")" class="btn btn-sm btn-primary">Nova trilha</a>
</div>

<fieldset>
    <legend>Detalhes da trilha</legend>
    <div class="form-group">
        <p><strong>Nome: </strong> @Html.DisplayFor(model => model.Nome)</p>
    </div>

</fieldset>
<hr />
<p>
    <a href="@Url.Action("Editar", new { id = Model.Id })" class="btn btn-sm btn-info">Editar</a> 
    <a href="@Url.Action("Index")"> Voltar</a>
</p>
