@model KarolCamp.Dominio.Sala

@{
    ViewBag.Title = "Deletar";
}

<div class="page-header">
    <h1>Sala <small>organize as salas onde será ministradas as palestras</small></h1>
    <a href="@Url.Action("Cadastrar")" class="btn btn-sm btn-primary">Nova sala</a>
</div>
<div class="alert alert-danger">
    <strong>Atenção!</strong> Deseja realmente excluir este registro?
</div>
<fieldset>
    <legend>Excluir sala</legend>
    <div class="form-group">
        <strong>Nome: </strong> @Html.DisplayFor(model => model.Nome)
    </div>
</fieldset>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" class="btn btn-sm btn-info" />
        @Html.ActionLink("Cancelar", "Index")
    </p>
}
